In [1]:
import requests
import json
from pprint import pprint
import pandas as pd

In [2]:
EIA_state = pd.read_csv("assets/data/state_coordinates/statelatlong.csv")
EIA_state.head()

  State
0    AL
1    AK
2    AZ
3    AR
4    CA

## Total Energy average price :
https://www.eia.gov/opendata/qb.php?category=40244

In [54]:
#Create an empty DataFrame to store each state price
final_price_state = pd.DataFrame()
final_price_state["State"] = ""
final_price_state["Year"] = ""
final_price_state["Average_Price"] = ""
final_price_state["Price_Unit"] = ""

#Using for loop to get data from each url
for i in range(len(EIA_state["State"].values)):
    
    #Make url of average price for each state
    Price_first_link = "http://api.eia.gov/series/?api_key="    
    API_KEY = "your api key"
    Price_Middle_link = "&series_id=SEDS.TETCD."
    state = EIA_state["State"].values[i]
    Price_last_link = ".A"
    price_url = Price_first_link+API_KEY+Price_Middle_link+state+Price_last_link
    
    #Get the data from url
    price_state = requests.get(price_url).json()
    
    #Create a temp. dataframe to store data of each state
    temp_price_state = pd.DataFrame()
    temp_price_state["State"] = ""
    temp_price_state["Year"] = ""
    temp_price_state["Average_Price"] = ""
    temp_price_state["Price_Unit"] = ""
    
    for  j in range(len(price_state["series"][0]["data"])) :
        temp_price_state.loc[j, "State"] = EIA_state["State"].values[i]
        temp_price_state.loc[j, "Year"] = price_state["series"][0]["data"][j][0]
        temp_price_state.loc[j, "Average_Price"] = price_state["series"][0]["data"][j][1]
        temp_price_state.loc[j, "Price_Unit"] = price_state["series"][0]["units"]
    
    #Concat each state into one dataframe
    final_price_state = pd.concat([final_price_state,temp_price_state], axis=0)
    final_price_state.reset_index(drop=True,inplace=True)

In [55]:
final_price_state

     State  Year Average_Price               Price_Unit
0       AL  2017         15.97  Dollars per million Btu
1       AL  2016         14.81  Dollars per million Btu
2       AL  2015         15.68  Dollars per million Btu
3       AL  2014         18.62  Dollars per million Btu
4       AL  2013         18.89  Dollars per million Btu
5       AL  2012         19.86  Dollars per million Btu
6       AL  2011         20.06  Dollars per million Btu
7       AL  2010          17.8  Dollars per million Btu
8       AL  2009         16.55  Dollars per million Btu
9       AL  2008         19.22  Dollars per million Btu
10      AL  2007         16.06  Dollars per million Btu
11      AL  2006         14.96  Dollars per million Btu
12      AL  2005         13.56  Dollars per million Btu
13      AL  2004         11.27  Dollars per million Btu
14      AL  2003          9.98  Dollars per million Btu
15      AL  2002          9.16  Dollars per million Btu
16      AL  2001          9.45  Dollars per million Btu
17      AL  2000          8.78  Dollars per million Btu
18      AL  1999          7.58  Dollars per million Btu
19      AL  1998          7.33  Dollars per million Btu
20      AL  1997          7.52  Dollars per million Btu
21      AL  1996          7.28  Dollars per million Btu
22      AL  1995          6.96  Dollars per million Btu
23      AL  1994          7.09  Dollars per million Btu
24      AL  1993          7.36  Dollars per million Btu
25      AL  1992          7.24  Dollars per million Btu
26      AL  1991          7.49  Dollars per million Btu
27      AL  1990          7.56  Dollars per million Btu
28      AL  1989          6.99  Dollars per million Btu
29      AL  1988          6.84  Dollars per million Btu
...    ...   ...           ...                      ...
2466    WY  1999          6.56  Dollars per million Btu
2467    WY  1998          5.96  Dollars per million Btu
2468    WY  1997          6.48  Dollars per million Btu
2469    WY  1996          6.38  Dollars per million Btu
2470    WY  1995          6.18  Dollars per million Btu
2471    WY  1994          6.03  Dollars per million Btu
2472    WY  1993          6.13  Dollars per million Btu
2473    WY  1992          5.97  Dollars per million Btu
2474    WY  1991          6.26  Dollars per million Btu
2475    WY  1990          6.53  Dollars per million Btu
2476    WY  1989          6.53  Dollars per million Btu
2477    WY  1988          6.15  Dollars per million Btu
2478    WY  1987           6.1  Dollars per million Btu
2479    WY  1986          6.17  Dollars per million Btu
2480    WY  1985          6.79  Dollars per million Btu
2481    WY  1984          6.79  Dollars per million Btu
2482    WY  1983          6.55  Dollars per million Btu
2483    WY  1982          6.61  Dollars per million Btu
2484    WY  1981          6.68  Dollars per million Btu
2485    WY  1980          5.86  Dollars per million Btu
2486    WY  1979          4.27  Dollars per million Btu
2487    WY  1978          3.22  Dollars per million Btu
2488    WY  1977          2.93  Dollars per million Btu
2489    WY  1976          2.69  Dollars per million Btu
2490    WY  1975          2.55  Dollars per million Btu
2491    WY  1974          2.18  Dollars per million Btu
2492    WY  1973          1.59  Dollars per million Btu
2493    WY  1972          1.33  Dollars per million Btu
2494    WY  1971           1.5  Dollars per million Btu
2495    WY  1970          1.32  Dollars per million Btu

[2496 rows x 4 columns]

In [63]:
final_price_state.to_csv("assets/data/EIA_Project_Data/energy_average_price.csv",index=False)

## Total Energy production
https://www.eia.gov/opendata/qb.php?category=40207

In [64]:
#Create an empty DataFrame to store each state total energy production
final_energy_state = pd.DataFrame()
final_energy_state["State"] = ""
final_energy_state["Year"] = ""
final_energy_state["Total_energy"] = ""
final_energy_state["ENERGY_Unit"] = ""

#Using for loop to get data from each url
for i in range(len(EIA_state["State"].values)):
    
    #Make url of total energy for each state
    energy_first_link = "http://api.eia.gov/series/?api_key="    
    API_KEY = "your api key"
    energy_Middle_link = "&series_id=SEDS.TEPRB."
    state = EIA_state["State"].values[i]
    energy_last_link = ".A"
    energy_url = energy_first_link+API_KEY+energy_Middle_link+state+energy_last_link
    
    #Get the data from url
    energy_state = requests.get(energy_url).json()
    
    #Create a temp. dataframe to store data of each state
    temp_energy_state = pd.DataFrame()
    temp_energy_state["State"] = ""
    temp_energy_state["Year"] = ""
    temp_energy_state["Total_energy"] = ""
    temp_energy_state["ENERGY_Unit"] = ""
    
    for  j in range(len(energy_state["series"][0]["data"])) :
        temp_energy_state.loc[j, "State"] = EIA_state["State"].values[i]
        temp_energy_state.loc[j, "Year"] = energy_state["series"][0]["data"][j][0]
        temp_energy_state.loc[j, "Total_energy"] = energy_state["series"][0]["data"][j][1]
        temp_energy_state.loc[j, "ENERGY_Unit"] = energy_state["series"][0]["units"]
    
    #Concat each state into one dataframe
    final_energy_state = pd.concat([final_energy_state,temp_energy_state], axis=0)
    final_energy_state.reset_index(drop=True,inplace=True)

In [65]:
final_energy_state

     State  Year Total_energy         Unit
0       AL  2016      1124482  Billion Btu
1       AL  2015      1269743  Billion Btu
2       AL  2014      1367345  Billion Btu
3       AL  2013      1478402  Billion Btu
4       AL  2012      1443558  Billion Btu
5       AL  2011      1410745  Billion Btu
6       AL  2010      1429505  Billion Btu
7       AL  2009      1449253  Billion Btu
8       AL  2008      1482792  Billion Btu
9       AL  2007      1408105  Billion Btu
10      AL  2006      1413493  Billion Btu
11      AL  2005      1502435  Billion Btu
12      AL  2004      1544007  Billion Btu
13      AL  2003      1521048  Billion Btu
14      AL  2002      1486477  Billion Btu
15      AL  2001      1484590  Billion Btu
16      AL  2000      1539601  Billion Btu
17      AL  1999      1578642  Billion Btu
18      AL  1998      1672363  Billion Btu
19      AL  1997      1708520  Billion Btu
20      AL  1996      1740273  Billion Btu
21      AL  1995      1649515  Billion Btu
22      AL  1994      1637594  Billion Btu
23      AL  1993      1484437  Billion Btu
24      AL  1992      1485033  Billion Btu
25      AL  1991      1376322  Billion Btu
26      AL  1990      1342218  Billion Btu
27      AL  1989      1360335  Billion Btu
28      AL  1988      1262666  Billion Btu
29      AL  1987      1223311  Billion Btu
...    ...   ...          ...          ...
2934    WY  1989      4361366  Billion Btu
2935    WY  1988      4111037  Billion Btu
2936    WY  1987      3787513  Billion Btu
2937    WY  1986      3553143  Billion Btu
2938    WY  1985      3688642  Billion Btu
2939    WY  1984      3598337  Billion Btu
2940    WY  1983      3162143  Billion Btu
2941    WY  1982      3044510  Billion Btu
2942    WY  1981      3039457  Billion Btu
2943    WY  1980      2898469  Billion Btu
2944    WY  1979      2468777  Billion Btu
2945    WY  1978      2202779  Billion Btu
2946    WY  1977      1969220  Billion Btu
2947    WY  1976      1692906  Billion Btu
2948    WY  1975      1556424  Billion Btu
2949    WY  1974      1566537  Billion Btu
2950    WY  1973      1507152  Billion Btu
2951    WY  1972      1430380  Billion Btu
2952    WY  1971      1427671  Billion Btu
2953    WY  1970      1436981  Billion Btu
2954    WY  1969      1322803  Billion Btu
2955    WY  1968      1185859  Billion Btu
2956    WY  1967      1124539  Billion Btu
2957    WY  1966      1120354  Billion Btu
2958    WY  1965      1126993  Billion Btu
2959    WY  1964      1123349  Billion Btu
2960    WY  1963      1130588  Billion Btu
2961    WY  1962      1067967  Billion Btu
2962    WY  1961      1087858  Billion Btu
2963    WY  1960      1018174  Billion Btu

[2964 rows x 4 columns]

In [66]:
final_energy_state.to_csv("assets/data/EIA_Project_Data/total_energy_production.csv",index=False)

## Renewable Energy production
https://www.eia.gov/opendata/qb.php?category=40398

In [68]:
#Create an empty DataFrame to store each state renewable energy production
final_renewable_state = pd.DataFrame()
final_renewable_state["State"] = ""
final_renewable_state["Year"] = ""
final_renewable_state["Total_renewable_energy"] = ""
final_renewable_state["Renew_Unit"] = ""

#Using for loop to get data from each url
for i in range(len(EIA_state["State"].values)):
    
    #Make url of total renewable energy for each state
    renewable_first_link = "http://api.eia.gov/series/?api_key="    
    API_KEY = "your api key"
    renewable_Middle_link = "&series_id=SEDS.ROPRB."
    state = EIA_state["State"].values[i]
    renewable_last_link = ".A"
    renewable_url = renewable_first_link+API_KEY+renewable_Middle_link+state+renewable_last_link
    
    #Get the data from url
    renewable_state = requests.get(renewable_url).json()
    
    #Create a temp. dataframe to store data of each state
    temp_renewable_state = pd.DataFrame()
    temp_renewable_state["State"] = ""
    temp_renewable_state["Year"] = ""
    temp_renewable_state["Total_renewable_energy"] = ""
    temp_renewable_state["Renew_Unit"] = ""
    
    for  j in range(len(renewable_state["series"][0]["data"])) :
        temp_renewable_state.loc[j, "State"] = EIA_state["State"].values[i]
        temp_renewable_state.loc[j, "Year"] = renewable_state["series"][0]["data"][j][0]
        temp_renewable_state.loc[j, "Total_renewable_energy"] = renewable_state["series"][0]["data"][j][1]
        temp_renewable_state.loc[j, "Renew_Unit"] = renewable_state["series"][0]["units"]
    
    #Concat each state into one dataframe
    final_renewable_state = pd.concat([final_renewable_state,temp_renewable_state], axis=0)
    final_renewable_state.reset_index(drop=True,inplace=True)

In [69]:
final_renewable_state

     State  Year Total_renewable_energy         Unit
0       AL  2016                 235494  Billion Btu
1       AL  2015                 261340  Billion Btu
2       AL  2014                 268551  Billion Btu
3       AL  2013                 310608  Billion Btu
4       AL  2012                 241822  Billion Btu
5       AL  2011                 254867  Billion Btu
6       AL  2010                 240913  Billion Btu
7       AL  2009                 264487  Billion Btu
8       AL  2008                 233379  Billion Btu
9       AL  2007                 228160  Billion Btu
10      AL  2006                 266153  Billion Btu
11      AL  2005                 279600  Billion Btu
12      AL  2004                 290697  Billion Btu
13      AL  2003                 283428  Billion Btu
14      AL  2002                 252689  Billion Btu
15      AL  2001                 251523  Billion Btu
16      AL  2000                 263303  Billion Btu
17      AL  1999                 290195  Billion Btu
18      AL  1998                 317065  Billion Btu
19      AL  1997                 299675  Billion Btu
20      AL  1996                 323372  Billion Btu
21      AL  1995                 320101  Billion Btu
22      AL  1994                 332532  Billion Btu
23      AL  1993                 268147  Billion Btu
24      AL  1992                 255014  Billion Btu
25      AL  1991                 255590  Billion Btu
26      AL  1990                 251667  Billion Btu
27      AL  1989                 302389  Billion Btu
28      AL  1988                 213088  Billion Btu
29      AL  1987                 229572  Billion Btu
...    ...   ...                    ...          ...
2934    WY  1989                  10449  Billion Btu
2935    WY  1988                  11398  Billion Btu
2936    WY  1987                  11117  Billion Btu
2937    WY  1986                  16232  Billion Btu
2938    WY  1985                  14997  Billion Btu
2939    WY  1984                  17197  Billion Btu
2940    WY  1983                  15778  Billion Btu
2941    WY  1982                  12241  Billion Btu
2942    WY  1981                  12117  Billion Btu
2943    WY  1980                  14250  Billion Btu
2944    WY  1979                  13906  Billion Btu
2945    WY  1978                  12774  Billion Btu
2946    WY  1977                   9937  Billion Btu
2947    WY  1976                  12547  Billion Btu
2948    WY  1975                  13226  Billion Btu
2949    WY  1974                  16196  Billion Btu
2950    WY  1973                  14024  Billion Btu
2951    WY  1972                  13492  Billion Btu
2952    WY  1971                  15331  Billion Btu
2953    WY  1970                  12129  Billion Btu
2954    WY  1969                  12992  Billion Btu
2955    WY  1968                  11560  Billion Btu
2956    WY  1967                   9641  Billion Btu
2957    WY  1966                  11106  Billion Btu
2958    WY  1965                  10793  Billion Btu
2959    WY  1964                  10613  Billion Btu
2960    WY  1963                  10641  Billion Btu
2961    WY  1962                  11746  Billion Btu
2962    WY  1961                   8273  Billion Btu
2963    WY  1960                   8174  Billion Btu

[2964 rows x 4 columns]

In [70]:
final_renewable_state.to_csv("assets/data/EIA_Project_Data/renewable_energy_production.csv",index=False)

## Resident population:
https://www.eia.gov/opendata/qb.php?category=40367

In [73]:
#Create an empty DataFrame to store each state resident population
final_pop_state = pd.DataFrame()
final_pop_state["State"] = ""
final_pop_state["Year"] = ""
final_pop_state["resident_population"] = ""
final_pop_state["Pop_Unit"] = ""

#Using for loop to get data from each url
for i in range(len(EIA_state["State"].values)):
    
    #Make url of resident popluation for each state
    pop_first_link = "http://api.eia.gov/series/?api_key="    
    API_KEY = "your api key"
    pop_Middle_link = "&series_id=SEDS.TPOPP."
    state = EIA_state["State"].values[i]
    pop_last_link = ".A"
    pop_url = pop_first_link+API_KEY+pop_Middle_link+state+pop_last_link
    
    #Get the data from url
    pop_state = requests.get(pop_url).json()
    
    #Create a temp. dataframe to store data of each state
    temp_pop_state = pd.DataFrame()
    temp_pop_state["State"] = ""
    temp_pop_state["Year"] = ""
    temp_pop_state["resident_population"] = ""
    temp_pop_state["Pop_Unit"] = ""
    
    for  j in range(len(pop_state["series"][0]["data"])) :
        temp_pop_state.loc[j, "State"] = EIA_state["State"].values[i]
        temp_pop_state.loc[j, "Year"] = pop_state["series"][0]["data"][j][0]
        temp_pop_state.loc[j, "resident_population"] = pop_state["series"][0]["data"][j][1]
        temp_pop_state.loc[j, "Pop_Unit"] = pop_state["series"][0]["units"]
    
    #Concat each state into one dataframe
    final_pop_state = pd.concat([final_pop_state,temp_pop_state], axis=0)
    final_pop_state.reset_index(drop=True,inplace=True)

In [76]:
final_pop_state.head()

  State  Year resident_population      Unit
0    AL  2017                4875  Thousand
1    AL  2016                4865  Thousand
2    AL  2015                4853  Thousand
3    AL  2014                4842  Thousand
4    AL  2013                4830  Thousand

In [77]:
final_pop_state.to_csv("assets/data/EIA_Project_Data/resident_population.csv",index=False)

## Total CO2 Emission
https://www.eia.gov/opendata/qb.php?category=2251670

In [4]:
#Create an empty DataFrame to store each state resident population
final_co2_state = pd.DataFrame()
final_co2_state["State"] = ""
final_co2_state["Year"] = ""
final_co2_state["Total_co2_emission"] = ""
final_co2_state["CO2_Unit"] = ""

#Using for loop to get data from each url
for i in range(len(EIA_state["State"].values)):
    
    #Make url of total CO2 emission for each state
    co2_first_link = "http://api.eia.gov/series/?api_key="    
    API_KEY = "your api key"
    co2_Middle_link = "&series_id=EMISS.CO2-TOTV-TT-TO-"
    state = EIA_state["State"].values[0]
    co2_last_link = ".A"
    co2_url = co2_first_link+API_KEY+co2_Middle_link+state+co2_last_link
    
    #Get the data from url
    co2_state = requests.get(co2_url).json()
    
    #Create a temp. dataframe to store data of each state
    temp_co2_state = pd.DataFrame()
    temp_co2_state["State"] = ""
    temp_co2_state["Year"] = ""
    temp_co2_state["Total_co2_emission"] = ""
    temp_co2_state["CO2_Unit"] = ""
    
    for  j in range(len(co2_state["series"][0]["data"])) :
        temp_co2_state.loc[j, "State"] = EIA_state["State"].values[i]
        temp_co2_state.loc[j, "Year"] = co2_state["series"][0]["data"][j][0]
        temp_co2_state.loc[j, "Total_co2_emission"] = co2_state["series"][0]["data"][j][1]
        temp_co2_state.loc[j, "CO2_Unit"] = co2_state["series"][0]["units"]
    
    #Concat each state into one dataframe
    final_co2_state = pd.concat([final_co2_state,temp_co2_state], axis=0)
    final_co2_state.reset_index(drop=True,inplace=True)

In [6]:
final_co2_state

     State  Year Total_co2_emission                     Unit
0       AL  2016            115.088  million metric tons CO2
1       AL  2015            120.143  million metric tons CO2
2       AL  2014            123.162  million metric tons CO2
3       AL  2013            120.909  million metric tons CO2
4       AL  2012            123.201  million metric tons CO2
5       AL  2011             129.93  million metric tons CO2
6       AL  2010            132.767  million metric tons CO2
7       AL  2009              120.1  million metric tons CO2
8       AL  2008            139.628  million metric tons CO2
9       AL  2007             147.43  million metric tons CO2
10      AL  2006            145.782  million metric tons CO2
11      AL  2005            143.332  million metric tons CO2
12      AL  2004            141.665  million metric tons CO2
13      AL  2003            139.359  million metric tons CO2
14      AL  2002            138.491  million metric tons CO2
15      AL  2001             133.63  million metric tons CO2
16      AL  2000            142.243  million metric tons CO2
17      AL  1999            136.123  million metric tons CO2
18      AL  1998            133.741  million metric tons CO2
19      AL  1997            134.474  million metric tons CO2
20      AL  1996            137.576  million metric tons CO2
21      AL  1995             131.57  million metric tons CO2
22      AL  1994            123.842  million metric tons CO2
23      AL  1993            125.803  million metric tons CO2
24      AL  1992            120.935  million metric tons CO2
25      AL  1991            114.252  million metric tons CO2
26      AL  1990            109.961  million metric tons CO2
27      AL  1989            110.072  million metric tons CO2
28      AL  1988            104.614  million metric tons CO2
29      AL  1987            103.248  million metric tons CO2
...    ...   ...                ...                      ...
1894    WY  2009              120.1  million metric tons CO2
1895    WY  2008            139.628  million metric tons CO2
1896    WY  2007             147.43  million metric tons CO2
1897    WY  2006            145.782  million metric tons CO2
1898    WY  2005            143.332  million metric tons CO2
1899    WY  2004            141.665  million metric tons CO2
1900    WY  2003            139.359  million metric tons CO2
1901    WY  2002            138.491  million metric tons CO2
1902    WY  2001             133.63  million metric tons CO2
1903    WY  2000            142.243  million metric tons CO2
1904    WY  1999            136.123  million metric tons CO2
1905    WY  1998            133.741  million metric tons CO2
1906    WY  1997            134.474  million metric tons CO2
1907    WY  1996            137.576  million metric tons CO2
1908    WY  1995             131.57  million metric tons CO2
1909    WY  1994            123.842  million metric tons CO2
1910    WY  1993            125.803  million metric tons CO2
1911    WY  1992            120.935  million metric tons CO2
1912    WY  1991            114.252  million metric tons CO2
1913    WY  1990            109.961  million metric tons CO2
1914    WY  1989            110.072  million metric tons CO2
1915    WY  1988            104.614  million metric tons CO2
1916    WY  1987            103.248  million metric tons CO2
1917    WY  1986            101.306  million metric tons CO2
1918    WY  1985            100.907  million metric tons CO2
1919    WY  1984            94.6745  million metric tons CO2
1920    WY  1983            89.5581  million metric tons CO2
1921    WY  1982            90.3839  million metric tons CO2
1922    WY  1981            102.809  million metric tons CO2
1923    WY  1980            106.728  million metric tons CO2

[1924 rows x 4 columns]

In [7]:
final_co2_state.to_csv("assets/data/EIA_Project_Data/total_co2_emission.csv",index=False)

## Combine all of data into one table for 20 years (2016-1997)

In [42]:
final_co2_state = pd.read_csv("assets/data/EIA_Project_Data/total_co2_emission.csv")
final_price_state = pd.read_csv("assets/data/EIA_Project_Data/energy_average_price.csv")
final_pop_state = pd.read_csv("assets/data/EIA_Project_Data/resident_population.csv")
final_energy_state = pd.read_csv("assets/data/EIA_Project_Data/total_energy_production.csv")
final_renewable_state = pd.read_csv("assets/data/EIA_Project_Data/renewable_energy_production.csv")

In [43]:
#Select 20 years (2016-1997)
final_co2_state_20 = final_co2_state.loc[(final_co2_state.Year<=2016) & (final_co2_state.Year>=1997), :]
final_price_state_20 = final_price_state.loc[(final_price_state.Year<=2016) & (final_price_state.Year>=1997), :]
final_pop_state_20 = final_pop_state.loc[(final_pop_state.Year<=2016) & (final_pop_state.Year>=1997), :]
final_energy_state_20 = final_energy_state.loc[(final_energy_state.Year<=2016) & (final_energy_state.Year>=1997), :]
final_renewable_state_20 = final_renewable_state.loc[(final_renewable_state.Year<=2016) & (final_renewable_state.Year>=1997), :]

In [45]:
#Merge all of dataset into one table
df1 = pd.merge(final_co2_state_20,final_price_state_20)
df2 = pd.merge(df1,final_pop_state_20)
df3 = pd.merge(df2,final_energy_state_20)
final_combine_table = pd.merge(df3,final_renewable_state_20)
final_combine_table

,State,Year,Total_co2_emission,CO2_Unit,Average_Price,Price_Unit,resident_population,Pop_Unit,Total_energy,ENERGY_Unit,Total_renewable_energy,Renew_Unit
0,AL,2016,115.088298,million metric tons CO2,14.81,Dollars per million Btu,4865,Thousand,1124482,Billion Btu,235494,Billion Btu
1,AL,2015,120.142812,million metric tons CO2,15.68,Dollars per million Btu,4853,Thousand,1269743,Billion Btu,261340,Billion Btu
2,AL,2014,123.161802,million metric tons CO2,18.62,Dollars per million Btu,4842,Thousand,1367345,Billion Btu,268551,Billion Btu
3,AL,2013,120.908517,million metric tons CO2,18.89,Dollars per million Btu,4830,Thousand,1478402,Billion Btu,310608,Billion Btu
4,AL,2012,123.201027,million metric tons CO2,19.86,Dollars per million Btu,4816,Thousand,1443558,Billion Btu,241822,Billion Btu
5,AL,2011,129.930038,million metric tons CO2,20.06,Dollars per million Btu,4799,Thousand,1410745,Billion Btu,254867,Billion Btu
6,AL,2010,132.767419,million metric tons CO2,17.80,Dollars per million Btu,4785,Thousand,1429505,Billion Btu,240913,Billion Btu
7,AL,2009,120.100202,million metric tons CO2,16.55,Dollars per million Btu,4758,Thousand,1449253,Billion Btu,264487,Billion Btu
8,AL,2008,139.628142,million metric tons CO2,19.22,Dollars per million Btu,4718,Thousand,1482792,Billion Btu,233379,Billion Btu
9,AL,2007,147.430252,million metric tons CO2,16.06,Dollars per million Btu,4673,Thousand,1408105,Billion Btu,228160,Billion Btu
10,AL,2006,145.782018,million metric tons CO2,14.96,Dollars per million Btu,4629,Thousand,1413493,Billion Btu,266153,Billion Btu
11,AL,2005,143.332446,million metric tons CO2,13.56,Dollars per million Btu,4570,Thousand,1502435,Billion Btu,279600,Billion Btu
12,AL,2004,141.664798,million metric tons CO2,11.27,Dollars per million Btu,4531,Thousand,1544007,Billion Btu,290697,Billion Btu
13,AL,2003,139.358938,million metric tons CO2,9.98,Dollars per million Btu,4503,Thousand,1521048,Billion Btu,283428,Billion Btu
14,AL,2002,138.490682,million metric tons CO2,9.16,Dollars per million Btu,4480,Thousand,1486477,Billion Btu,252689,Billion Btu
15,AL,2001,133.630128,million metric tons CO2,9.45,Dollars per million Btu,4468,Thousand,1484590,Billion Btu,251523,Billion Btu
16,AL,2000,142.242532,million metric tons CO2,8.78,Dollars per million Btu,4452,Thousand,1539601,Billion Btu,263303,Billion Btu
17,AL,1999,136.122518,million metric tons CO2,7.58,Dollars per million Btu,4430,Thousand,1578642,Billion Btu,290195,Billion Btu
18,AL,1998,133.741224,million metric tons CO2,7.33,Dollars per million Btu,4405,Thousand,1672363,Billion Btu,317065,Billion Btu
19,AL,1997,134.474292,million metric tons CO2,7.52,Dollars per million Btu,4368,Thousand,1708520,Billion Btu,299675,Billion Btu
20,AK,2016,115.088298,million metric tons CO2,16.63,Dollars per million Btu,742,Thousand,1433116,Billion Btu,19428,Billion Btu
21,AK,2015,120.142812,million metric tons CO2,18.82,Dollars per million Btu,738,Thousand,1424762,Billion Btu,19209,Billion Btu
22,AK,2014,123.161802,million metric tons CO2,24.83,Dollars per million Btu,736,Thousand,1474609,Billion Btu,19826,Billion Btu
23,AK,2013,120.908517,million metric tons CO2,24.92,Dollars per million Btu,737,Thousand,1513406,Billion Btu,18664,Billion Btu
24,AK,2012,123.201027,million metric tons CO2,25.44,Dollars per million Btu,730,Thousand,1563461,Billion Btu,17719,Billion Btu
25,AK,2011,129.930038,million metric tons CO2,25.13,Dollars per million Btu,722,Thousand,1642015,Billion Btu,15762,Billion Btu
26,AK,2010,132.767419,million metric tons CO2,20.37,Dollars per million Btu,714,Thousand,1738219,Billion Btu,16537,Billion Btu
27,AK,2009,120.100202,million metric tons CO2,18.22,Dollars per million Btu,699,Thousand,1853317,Billion Btu,15685,Billion Btu
28,AK,2008,139.628142,million metric tons CO2,23.91,Dollars per million Btu,687,Thousand,1932755,Billion Btu,12913,Billion Btu
29,AK,2007,147.430252,million metric tons CO2,17.94,Dollars per million Btu,680,Thousand,2051639,Billion Btu,14037,Billion Btu
...,...,...,...,...,...,...,...,...,...,...,...,...
1010,WI,2006,145.782018,million metric tons CO2,16.75,Dollars per million Btu,5578,Thousand,272282,Billion Btu,115196,Billion Btu
1011,WI,2005,143.332446,million metric tons CO2,15.08,Dollars per million Btu,5546,Thousand,248416,Billion Btu,120705,Billion Btu
1012,WI,2004,141.664798,million metric tons CO2,12.75,Dollars per million Btu,5514,Thousand,232711,Billion Btu,93609,Billion Btu
1013,WI,2003,139.358938,million metric tons CO2,11.32,Dollars per million Btu,5479,Thousand,242769,Billion Btu,104497,Billion Btu
1014,WI,2002,138.490682,million metric tons CO2,10.00,Dollars per million Btu,5445,Thousand,231538,Billion Btu,98559,Billion Btu
1015,WI,2001,133.630128,million metric tons CO2,10.56,Dollars per million Btu,5407,Thousand,242017,Billion Btu,121275,Billion Btu
1016,WI,2000,142.242532,million metric tons CO2,9.93,Dollars per million Btu,5374,Thousand,233384,Billion Btu,112750,Billion Btu
1017,WI,1999,136.122518,million metric tons CO2,8.23,Dollars per million Btu,5333,Thousand,234332,Billion Btu,113636,Billion Btu
1018,WI,1998,133.741224,million metric tons CO2,7.97,Dollars per million Btu,5298,Thousand,206741,Billion Btu,107579,Billion Btu
1019,WI,1997,134.474292,million metric tons CO2,8.26,Dollars per million Btu,5266,Thousand,164284,Billion Btu,122612,Billion Btu
1020,WY,2016,115.088298,million metric tons CO2,13.27,Dollars per million Btu,584,Thousand,7518403,Billion Btu,51279,Billion Btu
1021,WY,2015,120.142812,million metric tons CO2,14.87,Dollars per million Btu,586,Thousand,9078727,Billion Btu,45048,Billion Btu
1022,WY,2014,123.161802,million metric tons CO2,18.79,Dollars per million Btu,583,Thousand,9362056,Billion Btu,52436,Billion Btu
1023,WY,2013,120.908517,million metric tons CO2,18.43,Dollars per million Btu,582,Thousand,9236921,Billion Btu,51331,Billion Btu
1024,WY,2012,123.201027,million metric tons CO2,18.68,Dollars per million Btu,576,Thousand,9612685,Billion Btu,51941,Billion Btu
1025,WY,2011,129.930038,million metric tons CO2,18.21,Dollars per million Btu,567,Thousand,10353191,Billion Btu,58644,Billion Btu
1026,WY,2010,132.767419,million metric tons CO2,15.37,Dollars per million Btu,564,Thousand,10536615,Billion Btu,43536,Billion Btu
1027,WY,2009,120.100202,million metric tons CO2,13.64,Dollars per million Btu,560,Thousand,10336858,Billion Btu,33116,Billion Btu
1028,WY,2008,139.628142,million metric tons CO2,17.86,Dollars per million Btu,546,Thousand,10886190,Billion Btu,20835,Billion Btu
1029,WY,2007,147.430252,million metric tons CO2,14.95,Dollars per million Btu,535,Thousand,10416795,Billion Btu,17623,Billion Btu
1030,WY,2006,145.782018,million metric tons CO2,14.55,Dollars per million Btu,523,Thousand,10062253,Billion Btu,18692,Billion Btu
1031,WY,2005,143.332446,million metric tons CO2,12.94,Dollars per million Btu,514,Thousand,9156148,Billion Btu,18449,Billion Btu
1032,WY,2004,141.664798,million metric tons CO2,10.31,Dollars per million Btu,509,Thousand,9002214,Billion Btu,13747,Billion Btu
1033,WY,2003,139.358938,million metric tons CO2,8.80,Dollars per million Btu,503,Thousand,8590378,Billion Btu,11324,Billion Btu
1034,WY,2002,138.490682,million metric tons CO2,8.03,Dollars per million Btu,500,Thousand,8449084,Billion Btu,12014,Billion Btu
1035,WY,2001,133.630128,million metric tons CO2,8.51,Dollars per million Btu,495,Thousand,8299346,Billion Btu,14469,Billion Btu
1036,WY,2000,142.242532,million metric tons CO2,7.92,Dollars per million Btu,494,Thousand,7495961,Billion Btu,14845,Billion Btu
1037,WY,1999,136.122518,million metric tons CO2,6.56,Dollars per million Btu,492,Thousand,7306694,Billion Btu,14023,Billion Btu
1038,WY,1998,133.741224,million metric tons CO2,5.96,Dollars per million Btu,491,Thousand,6876206,Billion Btu,15592,Billion Btu
1039,WY,1997,134.474292,million metric tons CO2,6.48,Dollars per million Btu,489,Thousand,6174129,Billion Btu,16153,Billion Btu

In [46]:
final_combine_table.to_csv("assets/data/EIA_Project_Data/final_combine_table.csv",index=False)